<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140959539480-etikiss6e0jkg539q8b0coll1uhjdaof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140959539480-etikiss6e0jkg539q8b0coll1uhjdaof</string>
	<key>API_KEY</key>
	<string>AIzaSyCeu-JbNYvqiTFHk3JA9cbmXT0BadeHF-0</string>
	<key>GCM_SENDER_ID</key>
	<string>140959539480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petinder</string>
	<key>PROJECT_ID</key>
	<string>petinder-643dc</string>
	<key>STORAGE_BUCKET</key>
	<string>petinder-643dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140959539480:ios:80d3404ea5da1a445ebe6d</string>
	<key>DATABASE_URL</key>
	<string>https://petinder-643dc-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>